<div id="thumbnail">
    <div class="thumbnail_box" routerLink="/adminhome/homeenquiry">
        <mat-icon>business</mat-icon>
        <b>{{enquiry_count}}</b>
        <span>Enquiry</span>
    </div>
    <div class="thumbnail_box" routerLink="/adminhome/institute">
        <mat-icon>business</mat-icon>
        <b>{{institute_count}}</b>
        <span>Institue</span>
    </div>
    <div class="thumbnail_box" routerLink="/adminhome/inscourse">
        <mat-icon>library_books</mat-icon>
        <b>{{course_count}}</b>
        <span>Course</span>
    </div>
    <div class="thumbnail_box" routerLink="/adminhome/insbatch">
        <mat-icon>assignment</mat-icon>
        <b>{{batch_count}}</b>
        <span>Batch</span>
    </div>
    <div class="thumbnail_box" routerLink="/adminhome/insstudent">
        <mat-icon>school</mat-icon>
        <b>{{student_count}}</b>
        <span>Student</span>
    </div>
    <div class="thumbnail_box" routerLink="/adminhome/insadmission">
        <mat-icon>local_library</mat-icon>
        <b>{{admission_count}}</b>
        <span>Admission</span>
    </div>
    <div class="thumbnail_box" routerLink="/adminhome/insdues">
        <mat-icon>money_off</mat-icon>
        <b>{{dues_count}}</b>
        <span>Dues</span>
    </div>
    <div class="thumbnail_box" routerLink="/adminhome/inspayment">
        <mat-icon>payment</mat-icon>
        <b>{{received_count}}</b>
        <span>Received</span>
    </div>
</div>